@model Webbapplikation.Models.Modeller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modeller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.konfig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.konfig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kaross)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kaross)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cyl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cyl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startår)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startår)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slutår)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slutår)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.beskrivning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beskrivning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Märken.namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Märken.namn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
