@model Webbapplikation.Models.Märken

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Märken</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Städer.namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Städer.namn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
